body { cursor: default; padding: 30px; }
content { }



/**
 * Forecast font coloring
 */
i.icon-sun, 
i.icon-sunny, 
i.icon-thunder { color: #f90; }
i.icon-mist,
i.icon-cloud, 
i.icon-basecloud { color: #999; }
i.icon-drizzle { color: #82b2e4; }
i.icon-frosty,
i.icon-snowy { color: #85d8f7; }
i.icon-drizzle,
i.icon-snowy,
i.icon-sunny,
i.icon-thunder { float: left; height: 0px; left: 0.22em; position: relative; top: -1em; }
i.icon-cloud + i.icon-sunny { left: 0.25em; }